# Configuraciones del servicio de eliminación de personas
PORT=4013
LOG_SERVICE_URL=http://localhost:4003

# Configuración de Roble API
ROBLE_API_USER=your_roble_user
ROBLE_API_PASSWORD=your_roble_password